:root {
    --cell-size: 10vmin;
    --grid-count: 7;
}

body {
    margin: 0;
}

#game {
    z-index: 0;
    margin: auto;
    max-width: min-content;
    padding: 50px;
    font-family: sans-serif;
}

#cell-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-count), var(--cell-size));
    margin: 10px 0px;
    gap: 1px 3px;
}

#trigger-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-count), var(--cell-size));
    gap: 3px;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
}

.col-trigger {
    height: var(--cell-size);
    margin: 2px;
}

#info-and-new-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#info-and-new-game-container * {
    width: 50%;
    text-align: center;
}

#overlay {
    z-index: 1;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}

#overlay h1 {
    margin-top: 10%;
    font-family: sans-serif;
    color: white;
}

#source-code-link-container {
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0;
    padding: 12px;
    font-family: sans-serif;
    font-size: min(2vmin, 14px);
}

#source-code-link {
    color: #0000EE;
}