:root {
    --cell-size: 50px;
    --grid-count: 7;
}

body {
    margin: auto;
    max-width: min-content;
    padding: 30px;
    font-family: sans-serif;
}

#cell-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-count), var(--cell-size));
    max-width: calc(var(--grid-count) * var(--cell-size));
    border: 1px solid black;
    margin: 10px 0px;
}

#trigger-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-count), var(--cell-size));
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
    border-collapse: collapse;
}

.col-trigger {
    height: var(--cell-size);
    margin: 2px;
}

#info-and-replay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#info-and-replay-container * {
    width: 50%;
    text-align: center;
}